html {
    background: url(../img/background.png) no-repeat center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

html, body {
    margin: 0px;
    padding: 0px;
}

.quote-background-table {
    position: absolute;
    display: table;
    height: 100%;
    width: 100%;
}

.quote-background-cell {
    display: table-cell;
    vertical-align: middle;
}

.quote-background {
    display: inline-block;
    width: 100%;
    height: 35%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7);
    vertical-align: middle;
    padding-top: 40px;
}

.quote-text {
    font: 32px Verdana, Geneva, sans-serif;
    color: white;
}

.refresh-button {
    position: absolute;
    bottom: 5px;
    right: 5px;

    height: 80px;
    width: 300px;

    background-color: rgba(0, 0, 0, 0.7);
    font: 32px Verdana, Geneva, sans-serif;
    color: white;
    border: none;
}
